<h1 class="text-color-purple">Hiiii User</h1>
<h1 class="text-color-purple">Welcome to the Stole Factory!!!</h1>

<br><!---
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="..." alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="..." alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="..." alt="Third slide">
      </div>
    </div>
  </div>-->

<!--<a routerLink="/product" class="navlink">products</a>-->
<div class="jumbotron">
  <div><img src="../../assets/img4.jpeg" alt="">
    <br>
    <ul>
    <li>Speciality:- Printed Chiffon</li>
    <li>Price:- 150Rs</li>
  </ul>
    <br>
    <div class="btn btn-primary" (click)="addtocart()">Addto cart</div>&nbsp;&nbsp;&nbsp;
    <div class="btn btn-danger" (click)="deletefromcart()">Deletefrom cart</div>
  </div>
  </div>
<br><br>
<div class="jumbotron" >
<div><img src="../../assets/img2.jpeg" alt="">
  <br>
  <ul>
  <li>Speciality:-Indigo cotton</li>
  <li>Price:- 200Rs</li>
</ul>
  <br>
  <div class="btn btn-success" (click)="addtocart()">Addto cart</div>&nbsp;&nbsp;&nbsp;
  <div class="btn btn-danger" (click)="deletefromcart()">Deletefrom cart</div>
</div>
</div>
<br><br>
<div class="jumbotron" >
<div><img src="../../assets/img6.jpeg" alt="">
  <br>
  <ul><li>Speciality:-Leopard print silk scarf</li>
    <li>Price:- 400Rs</li></ul>
  
  <br>
  <div class="btn btn-primary" (click)="addtocart()">Addto cart</div>&nbsp;&nbsp;&nbsp;
  <div class="btn btn-danger" (click)="deletefromcart()">Deletefrom cart</div>
</div>
</div>
<br><br>
<div class="jumbotron" >
<div><img src="../../assets/img1.jpeg" alt="">
  <br>
  <ul>
  <li>Speciality:-Traditional scarf</li>
  <li>Price:- 300Rs</li>
</ul>
  <br>
  <div class="btn btn-primary" (click)="addtocart()">Addto cart</div>&nbsp;&nbsp;&nbsp;
  <div class="btn btn-danger" (click)="deletefromcart()">Deletefrom cart</div>
</div>
</div>
<br><br>
<div class="jumbotron" >
<div><img src="../../assets/img7.jpeg" alt="">
  <br>
<ul>
  <li>Speciality:-New Trend</li>
  <li>Price:- 550Rs</li>
</ul>
  <br>
  <div class="btn btn-primary" (click)="addtocart()">Addto cart</div>&nbsp;&nbsp;&nbsp;
  <div class="btn btn-danger" (click)="deletefromcart()">Deletefrom cart</div>
</div>
</div>
<h1 class="text-color-purple">Hope you enjoying the shopping.</h1>

